.form{
    min-height: 100vh;
   
    display:flex;
    align-items:center;
   width:100%;
    justify-content: center;
    flex-direction: column;
}

@media(max-width:600px){
    input{
        padding:8px;
    }
}